
#formulaire
{
    display: block;
    text-align: center;
}
div #formulaire{
	padding: 10px;
}
.rechercher{
    border: rgb(80, 115, 161);
	border-radius: 3px;
	background-color: rgb(80, 115, 161);
	margin: 10px;
	padding: 5px;
	color: white;
	cursor: pointer;
}
.rechercher:hover{
    border: #4384b3;
	border-radius: 3px;
    background-color: rgba(55,158,230,0.5);
	margin: 10px;
	padding: 5px;
	color: white;
	cursor: pointer;

}