header{
    position: fixed;
    top:0;
	background-color: rgba(125, 209, 220, 0.7);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	border-bottom: 1px solid #949494;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 15px 50px;
}
header nav{
    top: 5px;
}
#img_top{
    width: 100%;
}
div#form
{
    display: block;
    text-align: center;

}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}
.blocinfo{
        /* Uniquement centrer le formulaire sur la page */
        margin: 0 auto;
        width: 500px;
        /* Encadré pour voir les limites du formulaire */
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
}
.boutonSubmit{
    border: rgb(118, 207, 219);
	border-radius: 5px;
	background-color: rgb(125, 209, 220);
	margin: 0;
	padding: 10px;
	color: white;
	cursor: pointer;
}
.boutonSubmit:hover{
    border: #4384b3;
	border-radius: 5px;
    background-color: rgba(55,158,230,0.5);
	margin: 0;
	padding: 10px;
	color: white;
	cursor: pointer;

}