body{
    background-color: rgb(235, 235, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}


/* ############### HEADER ##############*/
.nav{
    position: fixed;
    width: 100%;
}
nav ul{
    display: flex;
    text-align: right;
    top: 0;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: #373f40;
    justify-content: flex-end;
}
nav li{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-left: 1px solid #CCCCCC;
    text-align: center;
    line-height: 40px;
}
nav li :hover
{
    background-color: #3388BB;
}
nav li a {
    display: block;
    text-decoration: none;
    color: white;
}
nav #img_banner{
    position: absolute;
    left: 50px;
    background-color: white;
    width: 10%;
    float: left;
}


/* ################ MAIN #################*/

#presentation, #recherche, #donnees, #resume, #rgpd, #cgu{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: justify;

}
h1{
    text-align: center;
}

#presentation{

    background-color: rgb(255, 255, 255);
}

#formulaire
{
    display: block;
    text-align: center;
}
div form #formulaire{
	padding: 10px;
}
.rechercher{
    border: rgb(80, 115, 161);
	border-radius: 3px;
	background-color: rgb(80, 115, 161);
	margin: 10px;
	padding: 5px;
	color: white;
	cursor: pointer;
}
.rechercher:hover{
    border: #4384b3;
	border-radius: 3px;
    background-color: rgba(55,158,230,0.5);
	margin: 10px;
	padding: 5px;
	color: white;
	cursor: pointer;

}

#donnees{

    background-color: rgb(255, 255, 255);
}
#communes{
    border-collapse: collapse;
    text-align: center;
    position: center;
    width: 80%;
}
#communes tr:nth-child(even){background-color: #f2f2f2;}

#communes tr:hover {background-color: #ddd;}

#communes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5d7fca;
  color: white;
}

#resume{

padding-bottom: 50px;
}
table{
    text-align: center;
}

/*#################### FOOTER #########################*/

footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    max-height: 50px;
	background-color: #373f40;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	border-top: 1px solid #949494;
    width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 15px 50px;
}
footer p{
    display: inline-block;
    color: white;
    margin: auto;
    padding: 0 10% 0 10%;

}


.buttBas{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: medium;
}
.buttBas{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: medium; 
}

.buttBas:hover{
    color: rgb(119, 119, 119);
    cursor: pointer;
}

/* Fin Footer */