body{
    background-color: rgb(235, 235, 235);
}
nav ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: #373f40;
    justify-content: flex-end;
}
nav li{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-left: 1px solid #CCCCCC;
    text-align: center;
    line-height: 40px;
}
nav li :hover
{
    background-color: #3388BB;
}
nav li a {
    display: block;
    text-decoration: none;
    color: white;
}
nav #img_banner{
    position: absolute;
    left: 50px;
    background-color: white;
    width: 10%;
    float: left;
}

/* ############### HEADER ##############*/



/* ################ MAIN #################*/
form{
    margin-top: 20%;
}


/*#################### FOOTER #########################*/

footer{
    position: fixed;
    bottom: 0;
    height: 75px;
    max-height: 75px;
	background-color: rgb(125, 209, 220);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	border-top: 1px solid #949494;
    width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 15px 50px;
}

.copyright-text
{
	margin:15px;
}
/* Fin Footer */
