body{
    background-color: rgb(235, 235, 235);
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header{
    background-position:  center;
}
nav{
    position: fixed;
    top: 5px;
    right: 0;
}
nav a {
    text-decoration: none;
    color: rgb(74, 123, 180);
    margin: 5px;
}
nav a:hover{
    text-decoration: none;
    color: rgb(125, 209, 220);
    text-align: center;
}
nav button{
    border: rgb(118, 207, 219);
	border-radius: 5px;
	background-color: rgb(125, 209, 220);
	margin: 0;
	padding: 10px;
	color: white;
	cursor: pointer;
}
nav button:hover{
    background-color: rgba(55,158,230,0.5);
    border: solid 1px #4384b3;
}

#banner{
    position: fixed;
    top: 20px;
    height: 200px;
    max-width: 100%;
    background: url('../Assets/images/DESIGN4GREEN_bandeau_email\ Registrations.jpg') no-repeat 100% center;
    position: relative;
    background-size: cover;

}
main{

    margin: 20px;
    margin-top: 30px;

}
.affichage{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.521);
    border: 1px solid rgb(102, 99, 99);
    border-radius: 3px;
    transform: translate(50%, 50%);
    margin: 0;
    padding: 12px 12px 12px 12px;

    width: 50%;
}

.affichage img{
    width: 200px;
}

footer{
    position: fixed;
    bottom: 0;
	background-color: rgba(125, 209, 220, 0.7);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	border-top: 1px solid #949494;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 15px 50px;
}

.copyright-text
{
	margin:15px;
}
/* Fin Footer */
