<!DOCTYPE html>
<html lang="fr">
	<head>
        <meta charset="utf-8">
		
		<title>Le Carnet du numérique du logement</title>
		
        <link rel="icon" type="image/jpg" href="./assets/images/DESIGN4GREEN_logo_carre_HD.jpg" />
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/formulaire.css">
        
    </head>
    <body>
        <header>
            <div id="banner"></div>
            <nav>

                
            </nav>
        </header>
        <main>
            <div class="formulaire">
            <form action="" method="get" class="">
                <div class="form">
                    <label for="CodePostal">Code Postal: </label>
                    <input type="text" name="CodePostal" id="CodePostal" pattern="[0-9]{5}" required>
                </div>
                <div class="form">

                </div>
                <div class="form">
                    <input class="rechercher" type="submit" value="Rechercher">
                </div>
            </form>
            </div>
        </main>
        <footer>
				<p>&copy; Crew'stibat</p>
        </footer>
    </body>
</html>