<!DOCTYPE html>
<html lang="fr">
	<head>
        <meta charset="utf-8">
		
		<title>Fragilité numérique</title>
		
        <link rel="icon" type="image/jpg" href="./assets/images/DESIGN4GREEN_logo_carre_HD.jpg" />
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="./js/jspdf.min.js"></script> <!-- JSPDF -->
        <script type="text/javascript" src="./js/index.js"></script>
        <script type="text/javascript" src="./js/submitForm.js"></script>
        
    </head>
    <body>
        <header>

            <nav class="nav">
                <img id="img_banner" src="./assets/images/inr.png" alt="Logo INR">
                <ul>
                    <li><a href="#presentation">Présentation</a></li>
                    <li><a href="#formulaire">Données</a></li>
                    <li><a href="#resume">Résumé</a></li>
                    
                </ul>
            </nav>
        </header>

        <main>
            <div id="presentation">
                <h1>Présentation</h1>
                <p>
                    L’indice de fragilité numérique des territoires a été produit dans le cadre de l’IncubO du 
                    SGAR Occitanie avec le concours de l’ANSA en partenariat avec la Mednum, grâce au 
                    soutien du Fond de transformation pour l’action publique. 
                </p>
                <p>
                    Ce kit de mise en place de l’indice de fragilité numérique est à destination des acteurs 
                    publics, collectivités, opérateurs de service publics et services de l’Etat qui souhaitent se 
                    saisir de cet indice comme d’un outil d’aide à la décision et de mobilisation des acteurs de 
                    l’inclusion numérique sur leur territoire. Quelques collectivités pionnières l’ont déjà mis en 
                    œuvre et leurs retours d’expérience ont participé à la conception de ce kit. 
                </p>
                    Il comprend deux documents:
                    <ul>
                        <li>La méthodologie de l’indice de fragilité numérique en un clin d’œil pour mettre en 
                            place l’indice de fragilité numérique pas à pas. </li>
                        <li>La matrice Excel mobilisée pour assurer les calculs 
                            Le travail est sous licence Creative Commons cc-by-sa. La bonne lecture des CGU est donc 
                            importante. L’utilisation de l’indice de fragilité numérique vaut acceptation des CGU. </li>
                    </ul>
            </div>

            <div id="formulaire">
                <h1>Recherche</h1>

                <form action="javascript:submitForm(retourCP)" method="get" class="">
                    <div class="cp">
                        <label for="CodePostal">Code Postal: </label>
                        <input type="text" name="CodePostal" id="CodePostal" placeholder="Entrez un code postal" pattern="[0-9]{5}" required>
                    </div>
                    <div class="deptcom">
                            <label for="CodePostal">Département: </label>
                            <select name="departement" id="Departement" onchange="ChooseCitie()">
                                <option value="">--Choisissez une option--</option>
                            </select>

                            <label for="CodePostal">Commune: </label>
                            <select name="cities" id="list_citie" onchange="returnCP()">
                                <option value="0">--Please choose an option--</option>
                            </select>
                    </div>
                    <div class="">
                        <input class="rechercher" type="submit" value="Rechercher">
                    </div>
                </form>
            </div>

            <div id="donnees">
                <div id="communes">
                  

                </div>
                <button onclick="javascript:createPdf()" id="pdf-button">DOWNLOAD PDF</button>
            </div>

            
            
            <div id="resume">
                <h1>Résumé</h1>
                <p>
                    En conclusion, cet indice permet obtenir une projection de la fragilité numérique de votre territoire,
                     en complément d’études qualitatives, d’identifier et catégoriser les zones de fragilité numérique,                       de disposer d’un outil d’aide à la décision et au ciblage de publics.
                </p>
            </div>   

            <div id="rgpd">
                <h1>Mentions Légales - RGPD</h1>

                <h3>1. Objet des mentions légales</h3>
                <p>
                    Les présentes conditions générales ont pour objet de définir les modalités et conditions d’utilisation des services 
                    proposés sur le site (ci-après : les « Services »), ainsi que de définir les droits et obligations des parties dans 
                    ce cadre.
                    Elles peuvent être complétées, le cas échéant.
                </p>
                <h3>2. Éditeur / Exploitant des Services</h3>
                <p>
                    Les Services sont exploités par la société "Team 2" du design4green situé au 18 Rue du 8 Mai 1945, 
                    49124 Saint-Barthélemy-d'Anjou.
                </p>
                <h3>3. Contenu du site</h3>
                    La team 2 décline toute responsabilité du fait d’erreurs, d’omissions, ou pour les résultats qui pourraient être 
                    obtenus par l’usage de ces informations ou des liens hypertextes présents sur son site web.
                    <h5>Droit de reproduction</h5> 
                    L’article L122-4 du Code de la Propriété intellectuelle dispose que : « Toute représentation ou reproduction intégrale 
                    ou partielle faite sans le consentement de l’auteur ou de ses ayants droit ou ayants cause est illicite. Il en est de 
                    même pour la traduction, l’adaptation ou la transformation, l’arrangement ou la reproduction par un art ou un procédé 
                    quelconque. ».
                    <h5>Données nominatives</h5>
                    La team 2 ne collecte pas d’informations personnelles relatives à l’utilisateur du site web.
                    
                
            </div>
            <div id="cgu">
                <h1>Conditions générales d'utilisation</h1>
                <h3>ARTICLE 1 -  Objet</h3>
                <p>
                    Les présentes conditions générales d'utilisation (ci-après « CGU ») ont pour objet de définir les conditions 
                    d’utilisation du Kit par l'Utilisateur.
                    Toute utilisation du Kit, c’est-à-dire toute utilisation de l’une des Œuvres, telle que leur reproduction, diffusion, 
                    modification, ou toute mise en œuvre de la méthodologie de l’Indice de fragilité numérique, implique l’acceptation sans aucune réserve ni restriction des présentes CGU. 
                </p>
                <h3>ARTICLE 2 – Définitions</h3>
                <ol>
                    <li>
                        « Œuvre(s)» : Désigne les œuvres ou l’une des œuvres composant le Kit mis à disposition par les présentes Conditions générales d’utilisation.
                        « Œuvre dérivée » : Œuvre protégée par le droit d’auteur ou les droits voisins, dans laquelle au moins une des Œuvres est arrangée, transformée, ou modifiée.
                    </li>
                    <li>« Kit » : Désigne le Kit Indice de fragilité numérique mis à la disposition de l’Utilisateur par les présentes Conditions générales d’utilisation. </li>
                    <li>Le Kit est composé des deux Œuvres suivantes :</li>
                    <li> - La feuille de calcul « Identifier les zones de fragilité numérique sur votre territoire » ;</li>
                    <li> - Le diaporama contenant les présentes Conditions générales d’utilisation, ainsi que la méthodologie de l’Indice de fragilité numérique.</li>
                    <li>« Licence compatible BY-SA » : Désigne toute licence figurant à l'adresse suivante : creativecommons.org/compatiblelicenses, approuvée par Creative Commons comme étant essentiellement équivalente à la Licence CC-BY-SA.</li>
                    <li>« Partager » : Mettre l’ Œuvre à la disposition de tiers. <br>
                    « Utilisateur » : Personne physique ou morale à qui le Kit est mis à disposition, sous réserve du respect des présentes Conditions générales d’utilisation.</li>
                </ol>
                <h3>ARTICLE 3 - Propriété intellectuelle</h3>
                    Conformément à l’article 3(b) de la Licence, l’Utilisateur peut créer une Œuvre dérivée. Toutefois, s’il partage cette œuvre, il s’engage à :
                    <ul>
                        <li>Placer l’Œuvre dérivée sous une licence compatible BY-SA ;</li>
                        <li>Inclure l’URI ou l’hyperlien correspondant à la Licence de l’Œuvre dérivée ;</li>
                        <li>Ne pas proposer ou imposer de termes ou de conditions supplémentaires ou différents, ni appliquer des mesures techniques à l’Œuvre dérivée qui seraient de nature à restreindre l’exercice des droits accordés par la Licence.</li>
                    </ul>
                    Toute représentation ou exploitation du Kit ou de l’une des Œuvres qui le compose qui ne respecte pas les obligations du présent article ou de la Licence constitue une contrefaçon sanctionnée par les articles L 335-2 et suivants du Code de la propriété intellectuelle.
                <h3>ARTICLE 4 -  Réciprocité</h3>
                <p>
                    L’Utilisateur s’engage à transmettre toute Œuvre dérivée qui serait produite par ou pour l’Utilisateur, ou dont l’Utilisateur aurait eu connaissance
                </p>
            </div>

        </main>
        <footer>
            <p><a href="#rgpd"><button class="buttBas" onclick="buttRGPD()">RGPD</button></a></p>
            <p><a href="#cgu"><button class="buttBas" onclick="buttCGU()">CGU</button></a></p>
        </footer>
    </body>
</html>
